@import "tailwindcss";

:root {
  --primary: #011F5B;
  --secondary: #990000;
  --accent: #FFC72C;
  --neutral: #F0F0F0;  
  --base: #020202;
}

html {
  font-family: 'Inter', ui-sans-serif, system-ui;
}

body {
  margin: 0;
  background-color: var(--base);
}
