@import "tailwindcss";

:root {
  --primary: #011F5B;
  --secondary: #990000;
  --accent: #FFC72C;
  --neutral: #F0F0F0;  
  --base: #020202;
}

@layer utilities {
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

html {
  font-family: 'Inter', ui-sans-serif, system-ui;
}

body {
  margin: 0;
  background-color: var(--base);
}
