@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --primary: #011F5B;
  --secondary: #990000;
  --accent: #FFC72C;
  --neutral: #E0E0E0;  
  --base: #121212;
}

html {
  font-family: 'Inter', ui-sans-serif, system-ui;
}

body {
  margin: 0;
}